<ul>
  {{#each this.list as |campground|}}
    {{#link-to "detail" campground.id}}
      <li>{{campground.name}}</li>
    {{/link-to}}
  {{/each}}

  {{#link-to "add"}}
    <li>Add New Campground</li>
  {{/link-to}}
</ul>

{{yield}}
