<h2>{{headerTitle}}</h2>

<!-- {{#bs-form formLayout=formLayout model=this.model.campground onSubmit=(action "submitCreate" this.model.campground) as |form|}}
  {{form.element controlType="text" value="" label=nameLabel placeholder="Silver Falls State Park" property="text" required=true}}
  {{bs-button defaultText=buttonText type="primary" buttonType="submit"}}
{{/bs-form}} -->

{{yield}}
