<ul>
  {{#each list as |campground|}}
    <li>
      {{#side-menu-link-to "detail" campground.id}}
        {{campground.name}}
      {{/side-menu-link-to}}
    </li>
  {{/each}}

  <li>
    {{#side-menu-link-to "add"}}
      {{fa-icon "plus-square"}}
      {{buttonText}}
    {{/side-menu-link-to}}
  </li>
</ul>

{{yield}}
