{{!-- NOTE: Not sure why this integration test is failing...More research required --}}
{{!-- NOTE: Sidebar is borrowed from : https://bootstrapious.com/p/bootstrap-sidebar --}}

<nav id="sidebar" class="sidebar">
  <CampgroundList @list={{list}} />

  <ul class="action">
    <li>
      {{#side-menu-link-to "add"}}
      {{fa-icon "plus-square"}}
      {{buttonText}}
      {{/side-menu-link-to}}
    </li>
  </ul>
</nav>

{{yield}}
