@import 'ember-cli-bootstrap-4/bootstrap';

//// VARIABLES /////////////////////////////////////////////////////////////////

$color-f:   #ffffff;
$color-fa:  #fafafa;
$color-f3:  #f3f3f3;
$color-9:   #999999;
$color-6:   #666666;
$color-3:   #333333;

//// ELEMENT NORMALIZE /////////////////////////////////////////////////////////
// NOTE: ordinarily I would override element normalizing styles to take care of these. not very BEM currently.

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:active {
  color: $color-3;
  background: $color-f;
}

a:link, a:visited {
  color: $color-6;
}

a.active {
  color: $color-f;
  background: $color-9;
}

//// SITE HEADER STYLES ////////////////////////////////////////////////////////

.site-header__navbar {
  background: $color-fa;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

//// SIDEBAR STYLES ////////////////////////////////////////////////////////////

.sidebar {
  width: 250px;
  background-color: $color-f3;
  transition: all 0.3s;
  height: calc(100vh - 72px);
  overflow-y: scroll;
}

.sidebar__list-item {
    background-color: $color-f3;
    list-style: none;
    border-bottom: 2px solid $color-f;
}

.sidebar__list-item--add.sidebar__list-item--add {
  border: 0;
  // NOTE: for whatever reason, bootstrap'S sticky-bottom isn't working the same as the three lines below. future research item.
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

///// SITE FOOTER STYLES ///////////////////////////////////////////////////////

.site-footer__reset-button.site-footer__reset-button {
  // position: -webkit-sticky;
  // position: sticky;
  // bottom: 2rem;
}

//// MEDIA QUERIES /////////////////////////////////////////////////////////////

@media (max-width: 768px) {
  .sidebar--active {
    margin-left: 0;
  }

  .sidebar--inactive {
    margin-left: -250px;
  }

  .form__add {
    display: block;
  }

  .modal.show, .modal-backdrop.show {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .sidebar--active.sidebar--active, .sidebar-inactive.sidebar-inactive {
    margin-left: 0;
  }

  .sidebar__toggle {
    display: none;
  }

  .form__add {
    display: none;
  }

  .modal.show, .modal-backdrop.show {
    display: block !important;
  }
}
