{{!-- The following component displays Ember's default welcome message. --}}
<!-- {{welcome-page}} -->
{{!-- Feel free to remove this! --}}

<!-- {{site-header}} -->
<h1>List o' Campgrounds</h1>

{{outlet}}
