<SiteHeader @headerTitle="List O' Campgrounds" />

<div class="wrapper">
  <Sidebar @list={{this.model}} @buttonText="Add Campground" />

  <main class="d-flex w-100 justify-content-between align-items-center">
    {{outlet}}
  </main>
</div>
