<SiteHeader @headerTitle="List O' Campgrounds" />

<div class="wrapper">
  <Sidebar @list={{this.model.list}} @buttonText="Add Campground" />

  <main>
    <!-- <CampgroundDetail @campground={{this.model.detail}} @join=", "/> -->
    {{outlet}}
  </main>
</div>
